.home {
  margin: 30px;
  padding: 50px 50px;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
  border-radius: 4px;
}

.info {
  position: relative;
  display: flex;
  width: 100%;
  height: 150px;
  text-align: center;
}

.orders {
  position: relative;
  font-family: $font-header;
  font-size: 20px;

  a {
    position: absolute;
    margin-top: 30px;
    padding-top: 25px;
    text-align: center;
    color: white;
    width: 100%;
    text-decoration: none;
  }

  img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 4px;
  }
}

.bookings {
  position: relative;
  font-family: $font-header;
  font-size: 20px;

  a {
    position: absolute;
    margin-top: 30px;
    padding-top: 25px;
    text-align: center;
    color: white;
    width: 100%;
    text-decoration: none;
  }

  img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-left: 15px;
    border-radius: 4px;
  }
}

.open {
  margin-top: 15px;
  padding-top: 25px;
  text-align: center;
  background-color: $color-main;
  color: white;
  width: 100%;
  height: 150px;
  border-radius: 4px;
  font-family: $font-header;
  line-height: 5px;

  h1 {
    font-size: 25px;
  }

  p {
    color: greenyellow;
  }
}

.gallery {
  padding-top: 100px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.gallery .item {
  position: relative;
}

.gallery .item img {
  border-radius: 4px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.gallery .item:hover::before {
  position: absolute;
  border-radius: 4px;
  left: 50%;
  top: 48.5%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  z-index: 1;
  background: #333;
  opacity: 0.5;
  content: "";
}

.gallery .item .like {
  transform: translate(-50%);
  color:white;
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 25%;
  z-index: -1;

  i:hover {
    color:red;
  }

  .fa-share:hover{
    color:blue;
  }
}

.gallery .item:hover .like{
  z-index: 1;
}

.view {
  color: $color-main;

  b:hover{
    color:red;
  }
}

.carousel-cell {
  padding-top: 80px;
}

.carousel-cell img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.carousel-cell h4, p {

}